<a href="https://colab.research.google.com/github/Nabeelkhan123/py/blob/master/Titanic_survival.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

df=pd.read_csv('train.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

We're going to predict whether a passenger survived or not.

---


Here, Survived will be target column

In [0]:
column_target = ['Survived']

Parameters to be used for prediction:- Age, Sex,Pclass and Fare

In [0]:
column_train = ['Age','Pclass','Sex','Fare']

Separating the data into 'x' and 'y'

In [0]:
x = [column_train]
y = [column_target]

x['Age'].isnull().sum()  gives 177
      i.e  there 177 null values in Age    . Remove them using Median function

In [0]:
x['Age'].isnull().sum()

In [0]:
x['Age']=x['Age'].fillna(x['Age'].median())

In [0]:
x['Age'].isnull().sum()

In sklearn, we can't pass string values as categorical variable

  Here feature 'Sex' has a categorical value, i.e either M or F(which is not compatible with sklearn)

Hence we convert these values to integer, with Male as 0 and Female as 1

In [0]:
d = {'male':0, 'female':1}

In [0]:
x['Sex']=x['Sex'].apply(lambda x:d[x])
x.head()

Splitting the data to train and test

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random state=42)

Using Linear Support Vector Machine to separate the data linearly

In [0]:
from sklearn import svm
clf = svm.LinearSVC()

Training the model

In [0]:
clf.fit(x_train,y_train)

In [0]:
clf.predict(x_test[0:1])

In [0]:
clf.predict(x_test[0:10])

In [0]:
clf.score(x_test,y_test)